autotest_home = '/yoyodata/src/auto_test/auto-test/tools'
work_home = '/yoyodata/src/auto_test/auto-test/platform/cpn'
workflow_name = "auto_test_wk"
cpn_name = "auto_test_cpn"
cpn_file = "%s/%s" % (work_home,"auto_test_cpn.xml")
host_list = [['ubuntu', 'ubuntu', 'ubuntu'],['ubuntu']]
required_host_num = len(host_list)
install_retry_num = 1 
install_host_job = "InstallSoftwareJob"
do_case_job = "DoCaseJob"
install_host_file = "%s/%s" % (work_home, "install_software_job.xml")
do_case_file = "%s/%s" % (work_home, "do_case_job.xml")
current_test = 0
current_case = 0
software_list = ['software1','software2']
case_name_list = [['case1_1','case1_2'],['case2_1','case2_2','case2_3']]
case_policy_list = [['soft','hard'],['hard','soft','hard']]
case_script_list = [['pwd'],['date']]
test_policy_list = ['soft','hard']
suite_policy = "soft"
