#!/usr/bin/env python

#login config
pc_list = ['172.16.205.95','172.16.205.131','172.16.205.133','172.16.205.180','172.16.205.183','172.16.205.186','172.16.202.166','172.16.202.167','172.16.202.169']
username = "username"
password = "password"

#yoyopkg config
release_home="/home/username/zhangtao"
repository="https://172.16.205.123/repository"
repo_username="zhang.tao"
repo_password="XXX"
platform="linux64d"

#bitsflow config
agent_list  = ['172.16.205.95','172.16.205.131','172.16.205.133','172.16.205.180','172.16.205.183','172.16.205.186','172.16.202.166','172.16.202.167','172.16.202.169']
agent_port = "59632"
agent2_port = "59633"
agent3_port = "59634"
agent_log_level="Info"

#groupd config
groupd_list = ['172.16.205.95']
groupd_service="5888"
groupd_log_level="Info"

#netvm config
netvm_list = ['172.16.205.95']
netvm_service    = "5678"
netvm_http_port  = "8456"
netvm_remote_dir = "remotes"
netvm_log_level="Info"

#datacell config 
datacell_list = ['172.16.205.95','172.16.205.131','172.16.205.133','172.16.205.180','172.16.205.183','172.16.205.186']
datacell_storage_home="/home/username/zhangtao/storage"
datacell_volumes=["/mnt/sda1","/mnt/sdb1"]
datacell_log_home="/home/username/zhangtao/storage"
datacell_conf_name="datacell.xml"
datacell_log_name="datacell.log"
datacell_pid_name="datacell.pid"
datacell_log_level="Info"

#workflow && dsched config
workflow_list = ['172.16.205.95']
dsched_list = ['172.16.205.95']
workflow_groupname = "WORKFLOW"
dsched_groupname   = "DSCHED"
rpc_timeout = 10 #second
