<Configuration>
  <Group-Daemon>
    <!--
      The messaging agent to connect to
    -->
    <Agent>localhost:1234</Agent>
    
    <!--
      The group daemon service
    -->
    <Service>5888</Service>

    <!--
      Whether to enable group wipe command.
      Default: false
    -->
    <Enable-Group-Wipe>false</Enable-Group-Wipe>

    <!--
      Whether to use paxos (fault-tolerant mode).
    --> 
    <Use-Paxos>false</Use-Paxos>

    <!--
      In Paxos mode, specify the replica Id.
    -->
    <Replica-Id>0</Replica-Id>
  
    <!--
      Number of replicas (group daemons running paxos)
    -->
    <Num-Replicas>1</Num-Replicas>
    
    <!--
      Additional Paxos Configuration
    -->
    <Paxos-Config>
    
      <!--
        Paxos RPC timeout in ms. RPC timeout controls how long paxos can recover from a non-primary group daemon failure.
        Default: 10000
      -->
      <Rpc-Timeout>10000</Rpc-Timeout>
      
      <!--
        Paxos lease period in ms. Lease period controls how long paxos can recover from the primary group daemon failure.
        Default: 20000
      -->
      <Lease-Period>20000</Lease-Period>
      
      <!--
        Paxos primary period in ms. Primary-period is the period that primary group daemon holds and uses the lease.
        This value must be less than lease-period.
        Default: 10000
      -->
      <Primary-Period>10000</Primary-Period>
      
      <!--
        Checkpoint size threshold (in bytes). When the paxos log grows beyond this parameter in size, it will perform
        checkpointing. This parameter limits the size of the paxos log.
        Default: 10485760
      -->
      <Checkpoint-Size-Threshold>10485760</Checkpoint-Size-Threshold>
    
      <!--
        Checkpoint count threshold. When the paxos log grows and has more entry than this paramter, it will perform
        checkpointing.
        Default:10000
      -->
      <Checkpoint-Count-Threshold>10000</Checkpoint-Count-Threshold>
    
    </Paxos-Config>
   
    <!--
      Listen to member's heartbeat and remove it if the heartbeat stops (Passive checking)
    -->
    <Passive-Check>false</Passive-Check>
   
    <!--
      For passive checking, the period to do the checking
    --> 
    <Heartbeat-Check-Period>1000</Heartbeat-Check-Period>
    
    <!--
      For passive checking, the timeout to declare that a member is dead.
    -->
    <Heartbeat-Check-Timeout>5000</Heartbeat-Check-Timeout>

    <!--
      Period (in ms) to send refresh message. The refresh message can be used
      to verify that the application/replica has the latest group update.
    -->
    <Refresh-Period>10000</Refresh-Period>
    
    <!--
      Specify what to do hen group daemon gets SUSPECT message. 
      Possible Value: Active, Passive, None.
      In active mode, it will verify SUSPECT message by pinging member again
      In passive mode, it will ignore SUSPECT message
      In none mode, it will treat SUSPECT message as LEAVE message.
    -->
    <Suspect-Check-Mode>None</Suspect-Check-Mode>
   
    <!--
      (suspect-Check-Mode = active only) Specify the timeout to decide that
      the member is dead
    --> 
    <Suspect-Check-Active-Timeout>3000</Suspect-Check-Active-Timeout>
    
    <!--
      Whether to enable white list. The white list is the list of group names that is 
      allowed.
      Default: false
    -->
    <Enable-White-List>false</Enable-White-List>

    <!--
      The white list is the list of subject patterns. Group name must match one of these patterns
      to use group daemon.
    -->
    <White-List>
      <Group-Name>&gt;</Group-Name>
    </White-List>

  </Group-Daemon>
</Configuration>
